.tab {
    overflow: hidden;
    padding-left: 0.5em;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 0.5em 0.5em 0 0;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    margin: 0 0.5em;
    transition: 0.3s;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

.tab button:hover {
    background-color: #49f;
    color: #fff;
}

.tab button.active {
    background-color: #07c;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 0 1em 1em 1em;
    border-top: none;
}
.tabcontent div {
    margin: 1em 0;
}

body {
    background-color: #222;
    margin: 0;
}

body div {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.menubar {
    width: 100%;
    background-color: #333;
    display: inline-block;
    border-bottom: 1px solid #666;
    cursor: default;
}
.menubar button {
    float: none;
    background-color: inherit;
    border-radius: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    display: none;
    min-width: 10em;
    border-top: 1px solid #666;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 0.5em;
    background-color: #333;
    transition: 0.3s;
    cursor: pointer;
}
.dropdown-content a:hover {
    background-color: #49f;
}

.show {
    display: block;
}

.new-input {
    color: #fff;
    background-color: #333;
    border: 1px solid #666;
    border-radius: 0.5em;
    font-size: 16px;
    padding: 0.5em;
}
.outline-red {
    border: 1px solid #f00;
}
::placeholder {
    color: #fff;
    opacity: 0.6;
}
  
:-ms-input-placeholder {
    color: #fff;
    opacity: 0.6;
}
  
::-ms-input-placeholder {
    color: #fff;
    opacity: 0.6;
}

.header {
    padding: 0 1em;
}

body button {
    border: none;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    margin-right: 0.5em;
    transition: 0.3s;
    font-size: 16px;
    background-color: #07c;
    color: #fff;
}
body button:hover {
    background-color: #49f;
    color: #fff;
}

.buttongray {
    background-color: #333;
}
.buttongray:hover {
    background-color: #666;
}

body p {
    font-size: 16px;
}

.itemtable {
    background-color: #333;
    border-collapse: collapse;
    text-align: left;
}
.itemtable tr {
    min-height: 2em;
}
.itemtable td {
    min-width: 10em;
    padding: 0.5em;
    border: 1px solid #666;
    margin: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
.itemtable th {
    background-color: #444;
    min-width: 10em;
    padding: 0.5em;
    border: 1px solid #666;
    margin: 0;
}
.itemtable a {
    color: #fff;
    text-decoration: none;
}

.hide {
    display: none;
}

.editortable {
    border-collapse: collapse;
    text-align: left;
}
.editortable tr {
    min-height: 2em;
}
.editortable td {
    min-width: 10em;
    padding: 0.5em;
    margin: 0;
}
.editortable th {
    min-width: 10em;
    padding: 0.5em;
    margin: 0;
}
.editortable a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: block;
    position: relative;
    padding-left: 2em;
    padding-top: 0.3em;
    margin-bottom: 0.75em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #333;
    border: 1px solid #666;
    border-radius: 0.5em;
    transition: 0.3s;
}

.container:hover input ~ .checkmark {
    background-color: #49f;
}

.container input:checked ~ .checkmark {
    background-color: #07c;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.5em;
    top: 0.25em;
    width: 0.3em;
    height: 0.6em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}